<p id="notice"><%= notice %></p>

<div class="page-header text-center">
    <h1>Feed Lister</h1>
</div>

<div class="container">
  <div id="links-row">
    <ul>
      <li>
        <%= link_to "Favorites", "/favorite/index" %>
      </li>

      <li>
        <%= link_to "Refresh Headlines", "/headlines" %>
      </li>
    </ul>
  </div>
          <table id="feed-items" style="border-collapse:separate">
            <caption>Headlines</caption>

            <thead>
              <tr>
                <th>Title</th>
                <th>Published</th>
                <th>Action</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>

              <% @entries.each_with_index do |entry, index| %>
                <tr>
                  <td class="item-link" id=<%= "entry-link-#{index}" %> >
                    <%= link_to entry[:title], entry[:url], :target => "_blank" %>
                  </td>

                  <td class="publication-date"><%= entry[:published].strftime("%a %b %d, %Y") %></td>

                  <td class="save-link" id=<%= "entry-save-#{index}"%> >

                    <%= link_to "Save", "#{get_link_str(entry)}" %>
                  </td>
                </tr>
              <% end %>

            </tbody>
          </table>
</div>

<script>
  $('#feed-items').dataTable({
          "bPaginate": true,
          "bInfo": true,
          "bFilter": true,
          "bAutoWidth": false,
          "aoColumns" : [
              { sWidth: '650px' },
              { sWidth: '100px' },
              { sWidth: '40px' }
          ]
      });
</script>

