<p id="notice"><%= notice %></p>

<!--<h1>Listing Headlines</h1>-->

<div class="page-header text-center">
    <h1>Feed Lister</h1>
</div>

<table id="feed-items">
  <thead>
    <tr>
      <th>Title</th>
      <th>Published</th>
      <th>Action</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @entries.each_with_index do |entry, index| %>
      <tr>
        <td><%= link_to entry[:title], entry[:url] %></td>

        <td><%= entry[:published].strftime("%a %b %d, %Y") %></td>

        <!--<td><%= entry[:summary] %></td>-->

        <td class="save-link" id=<%= "entry-#{index}" %> > <%= link_to "Save", '#', :remote => true %>.
        </td>
      </tr>
    <% end %>

    <!--<% @headlines.each do |headline| %>-->
      <!--<tr>-->
        <!--<td><%= headline.title %></td>-->
        <!--<td><%= headline.url %></td>-->
        <!--<td><%= headline.published %></td>-->
        <!--<td><%= headline.summary %></td>-->
        <!--<td><%= link_to 'Show', headline %></td>-->
        <!--<td><%= link_to 'Edit', edit_headline_path(headline) %></td>-->
        <!--<td><%= link_to 'Destroy', headline, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      <!--</tr>-->
    <!--<% end %>-->
  </tbody>
</table>

<script>
  $(function(){
    $("#feed-items").dataTable();
  })
  </script>
<!--<br>-->

<!--<%= link_to 'New Headline', new_headline_path %>-->
