<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @headline.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @headline.url %>
</p>

<p>
  <strong>Published:</strong>
  <%= @headline.published %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @headline.summary %>
</p>

<%= link_to 'Edit', edit_headline_path(@headline) %> |
<%= link_to 'Back', headlines_path %>
