<p id="notice"><%= notice %></p>

<div class="page-header text-center">
    <h1>Feed Lister</h1>
</div>

<div class="container">
          <p class="other-table-link"><%= link_to "Headlines", "/headlines" %></p>

          <table id="favorite-items">
            <caption>Favorites</caption>

            <thead>
              <tr>
                <th>Title</th>
                <th>Published</th>
                <th>Action</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>

              <% @favorites.each_with_index do |favorite, index| %>
                <tr>
                  <td class="item-link"><%= link_to favorite[:title], favorite[:url] %></td>

                  <td class="publication-date"><%= favorite[:publication_date].to_s.split.first %></td>

                  <td><%= link_to 'Remove', "/favorite/destroy/#{favorite.id}",  method: :delete,
                                  data: { confirm: 'Are you sure?' } %>
                  </td>

                </tr>
              <% end %>

            </tbody>
          </table>
</div>


<script>
  $('#favorite-items').dataTable({
          "bPaginate": true,
          "bInfo": true,
          "bFilter": true,
          "bAutoWidth": false,
          "aoColumns" : [
              { sWidth: '650px' },
              { sWidth: '100px' },
              { sWidth: '40px' }
          ]
      });

</script>
